head
    title Kottans' test

body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
        .container-fluid
            .navbar-header
                a.navbar-brand(href='#') My brand new startup
            ul.nav.navbar-nav.navbar-right.navbar-form
                +loginButtons
    if loggingIn
        div
    else
        if currentUser
            +main
        else
            +auth