template(name='projectAdd')
    .input-group.input-group-lg.project-add-container
        span.input-group-btn
            button.btn.btn-lg.btn-success.project-add-btn(type='button')
                span.glyphicon.glyphicon-plus
        input.form-control.input-lg.project-add-text(type='text' placeholder='Add new project')

template(name='projectTitle')
    h1.project-title.break-word(data-type='text')= title

template(name='project')
    .panel.panel-default.project
        .panel-heading
            .pull-right.action-buttons
                a.project-remove.glyphicon.glyphicon-remove(href='#')
            +projectTitle
            .input-group.task-add-container
                span.input-group-btn
                    button.btn.btn-success.task-add-btn(type='button')
                        span.glyphicon.glyphicon-plus
                input.form-control.task-add-text(type='text' placeholder='Add new task')
        ul.list-group.tasks
            each tasks
                +task