template(name='main')
    .container
        .top-project-add
            +projectAdd
            hr
        each projects
            +project
        else
            .jumbotron
                h2 Try adding some projects!
        .bottom-project-add
            hr
            +projectAdd
        .footer
