template(name='taskTitle')
    span.task-title.break-word(data-type='text')= title

template(name='taskDeadline')
    span.task-deadline(data-type='combodate' data-template='D MMM YYYY HH:mm' data-format='YYYY-MM-DD HH:mm' data-viewformat='MMM D, YYYY, HH:mm' data-emptytext='No deadline' data-value=deadlineValue)

template(name='task')
    li.task.list-group-item.input-group
        .pull-right.action-buttons
            a.task-remove.glyphicon.glyphicon-remove(href='#')
        input.task-checkbox(type='checkbox' checked=isChecked)
        +taskDeadline
        span - 
        +taskTitle