@import 'nib'

.task
  .task-checkbox
    vertical-align middle
    cursor pointer
    margin-top 0

    &:checked + span
      text-decoration line-through

  .task-remove
    vertical-align middle
    text-decoration none
    color #333333

    transition color 0.3s

    &:hover
      color #d9534f